* {
  margin: 0;
}

body {
  color: #000;
  background: #fff;
  font-family: Arial, sans-serif;
  padding: 1em;
  font-size: clamp( 16px, calc(20px + (100vw - 768px) / 72), 48px);
}

/*  за замовчуванням 1 колонка */
.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "header"
    "main"
    "sidebar"
    "footer";
  gap: 1em;
}

.header  { grid-area: header; }
.sidebar { grid-area: sidebar; }
.main    { grid-area: main; }
.footer  { grid-area: footer; }

/*  2 колонки */
@media (min-width: 786px) {
  .container {
    grid-template-columns: 1fr 3fr;
    grid-template-areas:
      "header  header"
      "sidebar main"
      "footer  footer";
  }
}