/* 1. Сірий колір для всіх заголовків h1, h2, h3 */
h1, h2, h3 {
    color: gray;
}

/* 2. Колір #e60202 для елемента з id="main" */
#main {
    color: #e60202;
}

/* 3. Червоний колір для елемента з класом .h2 */
.h2 {
    color: red;
}

/* 4. Зелений колір для елемента з класом .heading */
.heading {
    color: green;
}